<section id="bangladesh" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">355</h1>
        <span class="text-uppercase">Cargo dispatched (mt)</span>

        <h1 class="bold">2000000</h1>
        <span class="text-uppercase">item value (USD)</span>

        <h1 class="bold">980</h1>
        <span class="text-uppercase">Total Volume (m3)</span>

        <h1 class="bold">57</h1>
        <span class="text-uppercase">airlifts</span>
    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Bangladesh</h1>
      <p class="lead">
        <span class="blue">#HappeningNow</span>: Loading is underway at UNHRD <span class="blue">#Dubai</span> for our partners IOM - UN Migration, International Rescue Committee, UNFPA and CARE International - the airlift to #Bangladesh is scheduled to leave tomorrow <span class="blue">#RohingyaCrisis</span>
      </p>
      <a href="https://www.facebook.com/wfp.unhrd/posts/867969213365089" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
