<section id="iraniraq" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">2</h1>
        <span class="text-uppercase">Air Operations</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Iran/Iraq earthquake</h1>
      <p class="lead">
        2 flights ex brindisi within 48 hours for Italy - Night-time loading operations at UNHRD <span class="blue">#Brindisi</span> for Cooperazione Italiana allo Sviluppo. The flight is bound for <span class="blue">#Sulaymaniyah</span>, <span class="blue">#Iraq</span>, carrying shelter and hygiene equipment for those affected by the <span class="blue">#earthquake</span>
      </p>

      <a href="https://www.facebook.com/wfp.unhrd/videos/853597308135613/" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
