<section id="irma" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">355</h1>
        <span class="text-uppercase">Cargo dispatched (mt)</span>

        <h1 class="bold">2000000</h1>
        <span class="text-uppercase">item value (USD)</span>

        <h1 class="bold">980</h1>
        <span class="text-uppercase">Total Volume (m3)</span>

        <h1 class="bold">57</h1>
        <span class="text-uppercase">airlifts</span>
    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Irma</h1>
      <p class="lead">
        Emergency rations and kits for World Food Programme, Catholic Relief Services, CARE, loaded and flying to <span class="blue">#Haiti</span>.
      </p>
      <p class="lead">
        In addition to tarpaulins and hygiene items, the cargo contains enough High-Energy Biscuits to feed some 47,000 people for three days – these rations are suitable for use in crises when the cooking of food may not be possible.
      </p>
      <p class="lead">
        The flight was funded by His Highness Sheikh Mohammed Bin Rashid Al Maktoum, Vice-President and Prime Minister of the UAE and Ruler of Dubai, and organized by the International Humanitarian City - IHC under the chairmanship of Her Royal Highness Princess Haya Bint Al Hussein.
      </p>
      <a href="https://www.facebook.com/wfp.unhrd/posts/817796685049009" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
