<section id="marawi" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">XX</h1>
        <span class="text-uppercase">Operations</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Marawi</h1>
      <p class="lead">
        We are helping AHA CENTRE to airlift 42 metric tonnes of family tents and kits in response to the <span class="blue">#MarawiCrisis</span>. The lifesaving cargo is currently being loaded at UNHRD <span class="blue">#KualaLumpur</span> before heading to Davao airport <span class="blue">#Philippines</span>. More is on the way!  <span class="blue">#HappeningNow</span>
      </p>

      <a href="https://www.facebook.com/wfp.unhrd/posts/794323664062978" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
