<section id="mexico" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">2</h1>
        <span class="text-uppercase">Air Operations</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Mexico Earthquake</h1>
      <p class="lead">
        Cooperazione Italiana allo Sviluppo is sending blankets, tents, hygiene kits and kitchen sets to <span class="blue">#Mexico</span> from UNHRD <span class="blue">#Brindisi</span>. The items were dispatched in support of those affected by the recent earthquake.
      </p>

      <a href="https://www.facebook.com/wfp.unhrd/posts/831198303708847" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
