<section id="response" class="section-center">
  <div class="title text-center">
    UNHRD in Numbers
    <p>
      2017
    </p>
  </div>
  <div class="grid grid-3">
    <div class="unhrd-numbers">
      <img src="images/plane.svg" class="icon" alt="Plane" />
      <strong>163</strong>
      <span>Shipments</span>
    </div>
    <div class="unhrd-numbers">
      <img src="images/globe.svg" class="icon" alt="Globe" />
      <strong>60</strong>
      <span>Countries reached</span>
    </div>
    <div class="unhrd-numbers">
      <img src="images/relief.svg" class="icon" alt="Relief items" />
      <strong>20,000</strong>
      <span>M<sup>3</sup> Dispatched</span>
    </div>
    <div class="unhrd-numbers">
      <img src="images/relief.svg" class="icon" alt="Relief items" />
      <strong>2296</strong>
      <span>MT Dispatched</span>
    </div>
    <div class="unhrd-numbers">
      <img src="images/fund.svg" class="icon" alt="Activity Fund" />
      <strong>US$ 15 Million</strong>
      <span>Value Dispatched</span>
    </div>
    <div class="unhrd-numbers">
      <img src="images/partner.svg" class="icon" alt="Partnership" />
      <strong>28</strong>
      <span>Active partners</span>
    </div>
  </div>
</section>
