<section id="peru" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">1,100</h1>
        <span class="text-uppercase">tarpaulins</span>

        <h1 class="bold">170</h1>
        <span class="text-uppercase">Family tents</span>

        <h1 class="bold">1,000</h1>
        <span class="text-uppercase">Emergency shelter kits</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Peru Floods</h1>
      <p class="lead">
        Need info
      </p>
      <a href="#" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
