<section id="preparedness" class="">
  <div class="grid grid-2">

    <div class="">
      <h1 class="text-uppercase">Procurement</h1>
      <p class="lead">
        Over the course of 2017 UNHRD placed Procurement Orders for Goods and Services (excluding transport) with a total value of USD 20,698,423.39.  Over 50% of procurement activities, whether replenishment of stock or direct delivery of goods, was for WFP Partners while the remainder was for non-WFP Partners and the requirements of UNHRD itself.
      </p>

      <p>
        UNHRD Procurement strives to ensure a seamless pipeline of the core relief items and humanitarian support equipment required by our Partners, particularly those key items that are pre-positioned in our Hubs ready to deploy at short notice.  This is achieved through the establishment and utilisation of Long Term Agreements, forward positioning of supplier stocks and careful monitoring of the supply chain.  These activities also bring costs efficiencies for our Partners as we source the best value goods and maximise freight whenever possible.  While logistics and staff support equipment have been the most procured items in 2017, beneficiary items such as tents, tarpaulins, hygiene kits, kitchen sets, blankets and family kits were also all in the “Top 15” items.
      </p>
    </div>

    <div class="">
      <h1 class="text-uppercase">Training</h1>
      <p class="lead">
        No info
      </p>
    </div>

  </div>
</section>
