<section id="rrt" class="align-content-center">
  <div class="grid grid-3">

    <div class="">
      <h1 class="text-uppercase">Irma</h1>
      <a href="https://www.facebook.com/wfp.unhrd/posts/848831738612170" target="_blank" class="btn">More information</a>
    </div>

    <div class="">
      <h1 class="text-uppercase">Madagascar</h1>
      <a href="#" target="_blank" class="btn">More information</a>
    </div>

    <div class="">
      <h1 class="text-uppercase">Nigeria</h1>
      <a href="#" target="_blank" class="btn">More information</a>
    </div>

  </div>
</section>
