<section id="slide4" class="layout-column layout-align-center">
  <div class="grid grid-4 grid-center">
    <div class="">
      <h1 class="text-uppercase">South Sudan</h1>
      <p>
        UNHRD continued its support of operations in South Sudan throughout 2017. The International Humanitarian City generously provided an airlift in late May, where partners sent tarpaulins, tents, kitchen sets, school kits for those in need.
      </p>
      <div class="partner-area">
        <img src="images/2017/partners/wfp.svg" alt="World Food Programme" />
        <img src="images/2017/partners/irish.svg" alt="Irish Aid" />
        <img src="images/2017/partners/ocha.svg" alt="Ocha" />
        <img src="images/2017/partners/crs.svg" alt="Catholic Relief Services" />
        <img src="images/2017/partners/redcross.png" alt="International Federation of Red Cross and Red Crescent Societies" />
        <img src="images/2017/partners/unhcr.svg" alt="UNHCR, the UN Refugee Agency" />
        <img src="images/2017/partners/unicef.svg" alt="UNICEF" />
        <img src="images/2017/partners/who.svg" alt="World Health Organization" />
      </div>
      <a href="https://www.facebook.com/wfp.unhrd/posts/763584537136891" class="btn btn-primary" target="_black">View facebook post</a>
    </div>

    <div class="">
      <h1 class="text-uppercase">Uganda</h1>
      <p>
        14,000 blankets, 3,500 kitchen sets, and more Irish Aid life-saving items were airlifted to Entebbe for South Sudan Refugees.
      </p>
      <p>
        Marking WorldRefugeeDay, 13.5 MT relief items from Cooperazione Italiana allo Sviluppo were airlifted to Uganda and further delivered to Rhino Camp, in North Uganda, which hosts refugees from South Sudan.
      </p>

      <div class="partner-area">
        <img src="images/2017/partners/cooperazione.svg" alt="Cooperazione Italiana" />
        <img src="images/2017/partners/irish.svg" alt="Irish Aid" />
        <img src="images/2017/partners/fao.svg" alt="FAO" />
        <img src="images/2017/partners/unhcr.svg" alt="UNHCR, the UN Refugee Agency" />
        <img src="images/2017/partners/unicef.svg" alt="UNICEF" />
        <img src="images/2017/partners/wfp.svg" alt="World Food Programme" />
      </div>

      <a href="https://www.facebook.com/wfp.unhrd/posts/775299499298728" class="btn btn-primary" target="_black">View facebook post</a>

      <a href="https://www.facebook.com/wfp.unhrd/posts/776830095812335" class="btn btn-primary" target="_black">View facebook post</a>
    </div>

    <div class="merge">
      <p>
        Dubai team disassembled, checked and repacked over 750 ShelteBoxes. The cargo was split in two - half airlifted together with family kits and tarpaulins to Somalia and the other half went to Chad with blankets, jerry cans and mosquito nets.
      </p>
    </div>

    <div class="">
      <h1 class="text-uppercase">Somalia</h1>
      <h2>30 MT</h2>
      <p>
        including 441 Family kits and 884 tarpaulins from AEHD and MYHD
      </p>
      <div class="partner-area">
        <img src="images/2017/partners/shelter.svg" alt="Shelter Box" />
        <img src="images/2017/partners/handicap.svg" alt="Handicap International" />
      </div>
        <a href="https://www.facebook.com/wfp.unhrd/posts/767858553376156" class="btn btn-primary" target="_black">View facebook post</a>
    </div>

    <div class="">
      <h1 class="text-uppercase">Chad</h1>
      <h2>18 MT</h2>
      <p>
        including 7500 blankets, 2000 jerry cans, 4,500 mosquito nets, 3,000 led lanterns, 500 kitchen sets from AEHD
      </p>
      <div class="partner-area">
        <img src="images/2017/partners/shelter.svg" alt="Shelter Box" />
      </div>
    </div>
  </div>

  <div class="overlay"></div>
</section>
