<section id="southsudan" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">13</h1>
        <span class="text-uppercase">Operations</span>

        <h1 class="bold">3</h1>
        <span class="text-uppercase">Sea</span>

        <h1 class="bold">141.173,36 Kg</h1>
        <span class="text-uppercase">Cargo moved</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">South Sudan</h1>
      <p class="lead">
        21 Prefabs; 3 cointainers; 20 Emergency Diahorre kits; 1,600 Hygiene kits; ballistic helmets; ballistic vests; 1,600 tarpalulins; 3,000 jerry cans;
      </p>
      <a href="#" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
