<section id="uganda" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">28</h1>
        <span class="text-uppercase">Operations</span>

        <h1 class="bold">7</h1>
        <span class="text-uppercase">Sea</span>

        <h1 class="bold">17</h1>
        <span class="text-uppercase">Air</span>

        <h1 class="bold">5</h1>
        <span class="text-uppercase">Land</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Uganda</h1>
      <p class="lead">
        800 boxes HEBs; 2 containers; 17 prefabs; 100 family tents;  5837 kitchen sets;  300 jerry cans; 1 purifcation unit; 3 water tanks;
      </p>

      <p class="lead">
        A humanitarian flight carrying family tents, mosquito nets, kitchens, hygiene and health kits, water tanks, jerry cans, and purification units left our <span class="blue">#Brindisi</span> depot in the early morning.
      </p>

      <p class="lead">
        Loaded items were donated by the Cooperazione Italiana allo Sviluppo to Italian NGO Acav.
      </p>

      <p class="lead">
        Marking <span class="blue">#WorldRefugeeDay</span>, on 20 June these 13.5 MT of relief items will be delivered to Rhino Camp, in North <span class="blue">#Uganda</span>, which hosts #refugees fleeing the conflict and seasonal food insecurity in <span class="blue">#SouthSudan</span>.
      </p>

      <a href="https://www.facebook.com/wfp.unhrd/posts/776830095812335" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
