<section id="yemen" class="">
  <div class="grid grid-snapshot">
    <!-- Partners -->
    <div class="partners">
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
      <img src="images/2017/partners/acf.svg" alt="" />
    </div>

    <div class="numbers">

      <!-- Numbers -->
        <h1 class="bold">XX</h1>
        <span class="text-uppercase">Operations</span>

    </div>

    <div class="">
      <!-- Description -->
      <h1 class="text-uppercase">Yemen</h1>
      <p class="lead">
        Setting up cholera treatment centers with WHO Loading for <span class="blue">#Yemen</span>
      </p>
      <p class="lead">
        Vital humanitarian support items are on their way from UNHRD Dubai to Yemen for the World Health Organization (WHO)
      </p>

      <a href="https://www.facebook.com/wfp.unhrd/videos/813426642152680/" target="_blank" class="btn">More information</a>
    </div>
  </div>
</section>
