<% include _partials/_head %>
  <body>
    <main>

      <!-- Cover section -->
      <% include _partials/_cover %>

      <!-- Numbers -->
      <% include _partials/_numbers %>

      <!-- Irma -->
      <% include _partials/_irma %>

      <!-- Bangladesh -->
      <% include _partials/_bangladesh %>

      <!-- South Sudan, Uganda, Somalia, Chad -->
      <% include _partials/_slide4 %>

      <!-- Peru floods -->
      <% include _partials/_peru %>

      <!-- Madagascar -->
      <% include _partials/_madagascar %>

      <!-- Yemen -->
      <% include _partials/_yemen %>

      <!-- Nigeria -->
      <% include _partials/_nigeria %>

      <!-- Marawi -->
      <% include _partials/_marawi %>

      <!-- Mexico -->
      <% include _partials/_mexico %>

      <!-- Iran / Iraq -->
      <% include _partials/_iraniraq %>

      <!-- RRT -->
      <% include _partials/_rrt %>

      <!-- Preparedness -->
      <% include _partials/_preparedness %>

      <!-- Partnerships -->
      <% include _partials/_partnerships %>

      <!-- Innovation -->
      <% include _partials/_innovation %>

      <!-- Behind the scenes -->
      <% include _partials/_behindscenes %>

      <!-- Going forward -->
      <% include _partials/_forward %>
    </main>
<% include _partials/_footer %>
